:root {
    --bcg: linear-gradient(to right, #009df8, #7aceff);
    /* عرض محتوای سایت */
    --content-width: 1300px;
}

@font-face {
    font-family: Dana;
    src: url(/font/Dana-DemiBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: Dana;
    overflow-x: hidden;
}

/* --- هدر --- */
.head {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(199, 199, 199, 0.5);
    display: flex;
    flex-direction: column;
}

.top-head {
    width: 100%;
    min-height: 30px;
    background: var(--bcg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
    padding-left: max(20px, (100% - var(--content-width)) / 2);
    padding-right: max(20px, (100% - var(--content-width)) / 2);
}

.head-menu,
.ques-head {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 5px 0;
}

.link-item {
    text-decoration: none;
    color: white;
}

.bottom-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: max(20px, (100% - var(--content-width)) / 2);
    padding-right: max(20px, (100% - var(--content-width)) / 2);
}

.home {
    display: flex;
    gap: 20px;
    align-items: start;
}

.logo-icon {
    width: 50px;
}

h1 {
    z-index: 2;
}

.login {
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 15px;
}

.child-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: all 300ms ease-in-out;
    border-radius: 30px;
    background-color: #fff;
}

.child-login:hover {
    background-color: #dadada;
}

.login-icon {
    width: 20px;
    transform: rotate(180deg);
    margin-left: 5px;
}

.login-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.number-main {
    border: 1px solid #0099f1;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    font-weight: lighter;
    width: 150px;
    text-align: center;
    white-space: nowrap;
}


.foot {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px rgba(199, 199, 199, 0.5);
    margin-top: 100px;
    background-color: #fff;
    padding-bottom: 20px;
}

.discription-1 {
    background-color: #fff;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(226, 226, 226);
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: max(20px, (100% - var(--content-width)) / 2);
    padding-right: max(20px, (100% - var(--content-width)) / 2);
}

.support {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.support-text {
    color: rgb(85, 85, 85);
    font-size: 17px;
}

.black {
    color: black;
}

.color-num {
    color: #009df8;
}

.discirption-2 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: max(20px, (100% - var(--content-width)) / 2);
    padding-right: max(20px, (100% - var(--content-width)) / 2);
}

.content-dis-2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.city-icon-main {
    width: 18px;
}

.city-text {
    font-weight: bolder;
}

.qom {
    background-color: #cecece;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.discription-3 {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
}

.footer-sections {
    display: flex;
    justify-content: flex-start;
    gap: 8%;
    flex-wrap: wrap;
    width: 100%;
    padding-left: max(20px, (100% - var(--content-width)) / 2);
    padding-right: max(20px, (100% - var(--content-width)) / 2);
}

.footer-box {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;

}


.green-line,
.purple-line,
.yellow-line {
    margin-bottom: 20px;
    border-bottom: 3px solid;

    width: 100%;
    display: block;
}

.green-line {
    border-color: rgb(66, 253, 122);
}

.purple-line {
    border-color: rgb(65, 14, 148);
}

.yellow-line {
    border-color: rgb(255, 246, 117);
}

.first-main-text {
    line-height: 40px;
    color: gray;
    text-align: justify;
}

.twice-text,
.third-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.1rem;
}

.information,
.users {
    text-decoration: none;
    color: gray;
    line-height: 35px;
}

.discription-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    flex-wrap: wrap;
    padding-left: max(20px, (100% - var(--content-width)) / 2);
    padding-right: max(20px, (100% - var(--content-width)) / 2);
}

.final-sum {
    display: flex;
    align-items: center;
    color: gray;
    gap: 10px;
}

.copyright {
    width: 20px;
}

.enemad {
    width: 50px;
    filter: grayscale(100%) brightness(2.3) contrast(2);
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#hamburger {
    display: none;
}

#closeIcon {
    display: none;
}

.menu-phone-mobile {
    display: none;
}
.account{
    align-items: flex-start;
    display: none;
}

.account-icon {
    width: 20px;
    margin-left: 5px;
}

@media (max-width : 650px) {
    .top-head {
        display: none;
    }

    .bottom-head {
        padding-bottom: 0;
        padding-top: 20px;
    }

    .login {
        display: none;
    }

    #hamburger {
        display: inline-block;
    }

    .bottom-head {
        width: 97.7%;
    }

    .menu-phone-mobile {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        font-size: 18px;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #83c7ff;
        width: 50%;
        z-index: 100;
        right: -320px;
        transition: all 300ms ease-in-out;
        width: 50%;
    }

    .child-login {
        background-color: inherit;
        justify-content: start;
        padding: 0;
        color: white;
        align-items: normal;
    }

    .login-link {
        color: white;
    }

    .child-login:hover {
        background-color: inherit;
    }
}