:root{
    --bcg : linear-gradient(to right,#009df8,#7aceff); 
    --color : #45b9fc;
    --color-2 : #51A2FF;
    --color-3 : #0973b9;
    --bcg-more : #EEEEEE;
    --color-more : #45556C;
    --color-reserved :#62748E;
}
@font-face {
    font-family: Dana;
    src: url(/font/Dana-DemiBold.ttf);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
    font-family: Dana;
}
.for-flex-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.search{
    width: 1290px;
    height: 150px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
option,
select{
    font-family: Dana;
}

.place-type{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px dashed rgb(194, 194, 194);
    height: 80px;
    padding-left: 15px;
}
#menu-type{
    height: 30px;
    border: none;
    font-size: 18px;
}
.city-main-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px dashed rgb(194, 194, 194);
    height: 80px;
    padding-left: 15px;
}
#menu-city{
    height: 30px;
    border: none;
    font-size: 18px;
}
.city{
    width: 200px;
}
.days-week{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px dashed rgb(194, 194, 194);
    height: 80px;
    padding-left: 15px;
}
#menu-days{
    height: 30px;
    border: none;
    font-size: 18px;
}
.time-range{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px dashed rgb(194, 194, 194);
    height: 80px;
    padding-left: 15px;
}
#menu-time{
    height: 30px;
    border: none;
    font-size: 18px;
}
.search-btn{
    font-family: Dana;
    padding: 15px 50px;
    font-size: 18px;
    background-color: var(--color);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
    transition: all 200ms ease-in-out 50ms;
}
.search-btn:hover{
    background-color: #2d9fe0;
}
h3{
    margin-left: 180px;
}
.place-text,
#menu-type{
    margin-right: 30px;
}

.main-content-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 45px;
}
.card{
    width: 400px;
    height: 310px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}
.top-card{
    display: flex;
}
.top-card-texts{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.price{
    color: gray;
    margin-bottom: 10px;
}
.photo-stadium{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.bottom-card{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.stadium-name{
    font-size: 19px;
    margin-right: -20px;
}
.reserve{
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 2%;
    cursor: pointer;
}
.top-reserve{
    background-color:var(--color-2) ;
    width: 100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-right: 23%;
    padding-top: 5%;
    color: #fff;
}
.main-reserve{
    background-color: var(--color-3);
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-right: 32%;
    color: #fff;
}
.reserve-link {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--bcg-more);
    color: var(--color-more);
    border-radius: 5px;
    text-decoration: none;
    font-family: Dana;
    font-size: 16px;
    margin-top: 4%;
    text-align: center;
}
.top__reserved{
background-color: var(--color-reserved);
}
.main__reserved{
    background-color: #45556C;
    padding-right: 26%;
}