:root {
    --bcg: linear-gradient(to right, #009df8, #7aceff);
    --bcgHover: linear-gradient(to right, #008cdd, #32b4ff);
    --color: #45b9fc;
    --color-2: #51A2FF;
    --color-3: #0973b9;
    --bcg-more: #EEEEEE;
    --color-more: #45556C;
    --color-reserved: #62748E;
    --rate: #FDCB5C;
}

@font-face {
    font-family: Dana;
    src: url(/font/Dana-DemiBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    font-family: Dana;
}

.main2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100rem;
    margin-top: 1%;
}

.main {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    width: 68%;
    height: 100rem;
}

.foot {
    margin-top: 1%;
}

.top-box {
    background-color: #fff;
    width: 100%;
    height: 8.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.image {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.right-part {
    display: flex;
    width: 60%;
}

.star {
    background-color: var(--rate);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    width: 16%;
    margin-top: 1%;
    padding: 0 10px;
}

.star__aks {
    width: 20px;
    filter: brightness(0) invert(1) saturate(10) contrast(5)
}

.text {
    margin-right: 4%;
    width: 100%;
}

.rate__tex {
    margin-top: 4px;
    font-size: 17px;
    color: white;
}

.location {
    width: 25px;
    margin-right: 2%;
    margin-top: 5px;
}

.address {
    margin-right: 2%;
    margin-top: 5px;
    color: #979797;
}

.flex {
    display: flex;
    align-items: center;
}

.left-part {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.for-flex {
    width: 100%;
    display: flex;
    align-items: center;
}

.watch_info {
    background: var(--bcg);
    width: 65%;
    height: 4.5rem;
    border-radius: 50px;
    margin-right: 30%;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

.watch_info:hover {
    filter: brightness(0.90); 
}

.eye__img {
    width: 45px;
    height: 45px;
    margin-bottom: 2px;
    filter: brightness(1) invert(1);
}

.in-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

.see__info {
    font-size: 17px;
}