:root {
    --bcg: linear-gradient(to right, #009df8, #7aceff);
    --bcgHover: linear-gradient(to right, #008cdd, #32b4ff);
    --color: #45b9fc;
    --color-2: #51A2FF;
    --color-3: #0973b9;
    --bcg-more: #EEEEEE;
    --color-more: #45556C;
    --color-reserved: #62748E;
    --rate: #FDCB5C;
}

@font-face {
    font-family: Dana;
    src: url(/font/Dana-DemiBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    font-family: Dana;
}

.main2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 72rem;
    margin-top: 1%;
}

.main {
    width: 68%;
    height: 100rem;
}

.foot {
    margin-top: 1%;
}

.top-box {
    background-color: #fff;
    width: 100%;
    height: 8.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.image {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.right-part {
    display: flex;
    width: 60%;
}

.star {
    background-color: var(--rate);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    width: 16%;
    margin-top: 1%;
    padding: 0 10px;
}

.star__aks {
    width: 20px;
    filter: brightness(0) invert(1) saturate(10) contrast(5)
}

.text {
    margin-right: 4%;
    width: 100%;
}

.rate__tex {
    margin-top: 4px;
    font-size: 17px;
    color: white;
}

.location {
    width: 25px;
    margin-right: 2%;
    margin-top: 5px;
}

.address {
    margin-right: 2%;
    margin-top: 5px;
    color: #979797;
}

.flex {
    display: flex;
    align-items: center;
}

.left-part {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.for-flex {
    width: 100%;
    display: flex;
    align-items: center;
}

.watch_info {
    background: var(--bcg);
    width: 65%;
    height: 4.5rem;
    border-radius: 50px;
    margin-right: 30%;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

.watch_info:hover {
    filter: brightness(0.90);
}

.eye__img {
    width: 45px;
    height: 45px;
    margin-bottom: 2px;
    filter: brightness(1) invert(1);
}

.in-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

.see__info {
    font-size: 17px;
}

.section-blur {
    background-color: #fff;
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
}

.right-image {
    width: 50%;
}

.left-image {
    width: 50%;
}

.section-blur {
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
    display: flex;
}


.blur-box {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}


.blur-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    filter: blur(8px) brightness(0.7);

}

.image__blur {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.image__blur2 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.image__blur2 img {
    filter: blur(5px);
    filter: blur(8px) brightness(0.8);

}

.hour {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.hour__number {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 6rem;
}

.reserve {
    background-color: var(--rate);
    width: 45%;
    height: 3.5rem;
    margin-top: 9rem;
    margin-right: 27%;
    border-radius: 5rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 300ms ease-in-out 50ms;
}
.reserve:hover {
    filter: brightness(0.8);
}

.date-boxes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}


.card {
    background-color: #fff;
    width: 18.8rem;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 4px solid var(--color-2);
    cursor: pointer;
}

.select{
    text-decoration: none;
    color: black;
    background-color: #e9e9e9;
    padding: 10px 80px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}


.select:hover{
    background-color: #bdbdbd;
}


.reserved{
    border-right: 4px solid #adadad;
    color: #7c7c7c;
    background-color: #e2e2e2;
    cursor: not-allowed;
}
.reserved a {
    background-color: #c2c2c2;
    color:#7c7c7c;
    pointer-events: none;
}
